# Web3Auth
NEXT_PUBLIC_WEB3AUTH_CLIENT_ID=
NEXT_PUBLIC_WEB3AUTH_NETWORK=sapphire_mainnet

# MongoDB
MONGODB_URI=mongodb://localhost:27017/hermesblink

# Twitter API
TWITTER_BEARER_TOKEN=
TWITTER_API_KEY=
TWITTER_API_SECRET=

# Solana
NEXT_PUBLIC_SOLANA_RPC_URL=https://api.mainnet-beta.solana.com
NEXT_PUBLIC_SOLANA_CHAIN_ID=0x1
NEXT_PUBLIC_SOLANA_NETWORK_NAME=Solana Mainnet
SOLANA_NETWORK=mainnet

# Encryption
ENCRYPTION_KEY=

# x402
X402_FACILITATOR=coinbase


